fastapi
uvicorn[standard]
sqlalchemy
asyncpg
psycopg2-binary

# OpenTelemetry core
opentelemetry-sdk
opentelemetry-distro

# Exporters
opentelemetry-exporter-otlp

# Instrumentations
opentelemetry-instrumentation
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-sqlalchemy

#Para la consulta a base de datos
asyncpg
databases